
<div class="container">
    <h3 class="h3">OnePlus</h3>
    <div class="row">
    {% for p in products %}
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="/pdetail/{{p.id}}">
                        <img class="pic-1" src="/media/{{p.opic}}" width="68px" height="100px">
                    </a>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">{{ p.odiscount }}%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="/pdetail/{{p.id}}">{{ p.oname }}</a></h3>
                    <div class="price">{{ p.oprice }}
                        <span>44500</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>