{% include 'bootstrap.html' %}
{% include 'header.html' %}
<div class="row row-cols-1 row-cols-md-2 container-fluid">
    <h1 class="text-center p-1">About Us</h1>
    <p class="text-center m-3">This site is a project, part of our Django Training, trained by <strong>Mr. Dhananjay Sharma</strong> sir.</p><br>
    <h3 class="text-center m-1">Thankyou sir!</h3>
   <div class="col mb-4 my-3 text-white">
    <div class="card">
      <div class="card-body bg-dark">
        <h5 class="card-title">RAJAT SINGH</h5>
        <p class="card-text">Done the backend part of this site. Also designed the layout and coloring.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4 my-3 text-white">
    <div class="card">
      <div class="card-body bg-dark">
        <h5 class="card-title">SHRIKANT PANDE</h5>
        <p class="card-text">Done the presentation work and also designed frontend pages used in our site</p>
      </div>
    </div>
  </div>
</div>
