
<div class="container">
    <h3 class="h3">Samsung</h3>
    <div class="row">
    {% for p in samsung %}
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="/sdetail/{{p.id}}">
                        <img class="pic-1" src="/media/{{p.spic}}">
                    </a>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">{{ p.sdiscount }}%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="/sdetail/{{p.id}}">{{ p.sname }}</a></h3>
                    <div class="price">{{ p.sprice }}
                        <span>44500</span>
                    </div>
                    <a class="add-to-cart" href="/scart/{{p.id}}">+ Add To Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>